{# Password requirements component - reusable across signup and reset password #}
<div id="passwordRequirements" style="margin-top: 10px; font-size: 13px; color: #666;">
    <div style="margin-bottom: 5px; color: #555;">Вимоги до паролю:</div>
    <div id="lengthReq" class="requirement-empty" style="margin: 5px 0;">
        <span class="requirement-icon"></span> Мінімум 8 символів
    </div>
    <div id="uppercaseReq" class="requirement-empty" style="margin: 5px 0;">
        <span class="requirement-icon"></span> Принаймні одна велика літера (A-Z)
    </div>
    <div id="lowercaseReq" class="requirement-empty" style="margin: 5px 0;">
        <span class="requirement-icon"></span> Принаймні одна маленька літера (a-z)
    </div>
    <div id="numberReq" class="requirement-empty" style="margin: 5px 0;">
        <span class="requirement-icon"></span> Принаймні одна цифра (0-9)
    </div>
</div>
